@import "../node_modules/node.normalize.scss/normalize";
@import "variables";

html {
	max-width: 100%;
	overflow-x: hidden;
	color: $text-color;
	font-family: "Comfortaa";
	background: $bg-color;
	position: relative;
	min-height: 100vh;
	&:before {
		z-index: -1;
		content: " ";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: opacity 0.9s ease;
		opacity: 0;
		background: $main-color;
	}
	&.animation-done {
		&:before {
			opacity: 1;
		}
	}
	&.gradient {
		&:before {
			background: -webkit-linear-gradient(170deg, $main-color 0%,$second-color 100%);
		}
	}
}

body {
	overflow: hidden;
}

@keyframes dash {
	0% {
		stroke-dashoffset: -75;
	}
	20% {
		stroke-dashoffset: -45;
	}
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
	0% {
		fill: rgba($main-color, 0);
	}
	100% {
		fill: rgba($main-color, 1);
	}
}

path {
	&.circle {
		stroke: $main-color;
		stroke-width: 0.2;
		fill: $main-color;
	}
	&.letter {
		fill: none;
		stroke: $main-color;
		stroke-width: 0.2;
		stroke-dasharray: 100;
		stroke-dashoffset: -75;
		animation: dash 2s ease 1.5s forwards,
			filling 1.5s ease-in 3s forwards;
	}
	&.line {
		stroke: $main-color;
		stroke-width: 1;
	}
}


#logo {
	overflow: visible;
}

.title {
	position: relative;
	z-index: 10;
	&:before {
		position: absolute;
		top: -999px;
		left: -9999px;
		right: -9999px;
		bottom: 0;
		z-index: -1;
		content: " ";
		background: $bg-color;
	}
}

hr {
	border: none;
	margin: 25px 0;
	background: $bg-color;
	height: 1px;
}

.content {
	max-width: 920px;
	margin: 20px auto 20px;
	text-align: justify;
	padding: 0 10px;
	@media (min-width: 920px) {
		margin: 150px auto 20px;

	}
}

.description {
	padding-top: 20px;
	color: $bg-color;
	a {
		color: $bg-color;
		text-decoration: underline;
		&:hover {
			color: lighten($main-color, 25);
		}
	}
}

ul {
	list-style: none;
	padding: 0;
	svg {
		margin-bottom: -3px;
	}
	path {
		fill: $bg-color;
	}
	li {
		margin-top: 10px;
		padding-bottom: 3px;
	}
}
