.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
	box-sizing: border-box;
}

@import "variables";
html {
	max-width  : 100%;
	overflow-x : hidden;
	color      : $text-color;
	font-family: "Roboto";
	background : $bg-color;
	line-height: 1.66;
	position   : relative;
	min-height : 100vh;
	&:before {
		z-index   : -1;
		content   : " ";
		position  : absolute;
		top       : 0;
		bottom    : 0;
		left      : 0;
		right     : 0;
		transition: opacity 0.9s ease;
		opacity   : 0;
		background: $main-color;
	}
	&.gradient {
		&:before {
			background: -webkit-linear-gradient(170deg, $main-color 0%,$second-color 100%);
		}
	}
	&.animation-done {
		&:before {
			opacity: 1;
		}
		.portfolio,
		.skills {
			opacity: 1;
		}
	}
}
i {
	width: 16px;
	margin: 0 2px;
	text-align: center;
}
@media (min-width: 800px) {
	.list-links {
		margin-left: 3px;
		&:after {
			display: table;
			content: " ";
			clear: both;
		}
		li {
			margin-right: 7px;
			float: left;
		}
	}
}
.skills {
	transition: opacity 1.3s ease;
	opacity   : 0;
	@media(min-width: 900px) {
		padding: 35px 0;
		ul {
			padding: 0 45px;
		}
		.skill {
			width: 33%;
			float: left;
		}
	}
	&:after {
		display: table;
		clear  : both;
		content: " ";
	}
	ul {
		margin: auto;
		&:after {
			display: table;
			clear: both;
			content: " ";
		}
		@media(min-width: 900px) {
			// padding-left: 104px;
		}
		li {
			@media(min-width: 400px) {
		    width: 50%;

		    float: left;
			}
			&:before {
				display      : inline-block;
				margin-bottom: 3px;
				width        : 4px;
				height       : 4px;
				content      : " ";
				border-radius: 100%;
				border       : 1px solid $complementary-color;
			}
			&:before {
				margin-right: 6px;
			}
		}
	}
	svg {
		path {
			fill: $complementary-color;
		}
	}
	.icon {
		margin       : 0px auto 25px;
		width        : 75px;
		height       : 75px;
		border: 2px solid $complementary-color;
		border-radius: 100%;
		text-align   : center;
	}
}
body {
	overflow: hidden;
}
@keyframes dash {
	0% {
		stroke-dashoffset: -75;
	}
	20% {
		stroke-dashoffset: -45;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes filling {
	0% {
		fill: rgba($main-color, 0);
	}
	100% {
		fill: rgba($main-color, 1);
	}
}
path {
	&.circle {
		stroke      : $main-color;
		stroke-width: 0.2;
		fill        : $main-color;
	}
	&.letter {
		fill             : none;
		stroke           : $main-color;
		stroke-width     : 0.2;
		stroke-dasharray : 100;
		stroke-dashoffset: -75;
		animation        : dash 2s ease 1.5s forwards, filling 1.5s ease-in 3s forwards;
	}
	&.line {
		stroke      : $main-color;
		stroke-width: 1;
	}
}
#logo {
	overflow: visible;
	@media (min-width: 950px) {
		margin-left: -20px;
	}
}
.title {
	position: relative;
	z-index : 10;
	&:before {
		position  : absolute;
		top       : -999px;
		left      : -9999px;
		right     : -9999px;
		bottom    : 7px;
		z-index   : -1;
		content   : " ";
		background: $bg-color;
	}
}
hr {
	border    : none;
	margin    : 25px 0;
	background: $bg-color;
	height    : 1px;
}
.content {
	max-width : 920px;
	margin    : 20px auto;
	text-align: justify;
	padding   : 0 10px;
	@media (min-width: 920px) {
		margin: 60px auto 20px;
	}
}
.description {
	padding-top: 20px;
	color      : $bg-color;
	a {
		color          : $bg-color;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: lighten($main-color, 25);
		}
	}
}
ul {
	list-style: none;
	padding   : 0;
	svg {
		margin-bottom: -3px;
	}
	path {
		fill: $bg-color;
	}
	li {
		padding-bottom: 3px;
	}
}

.menu {
	position: fixed;
	right: 0; 
	bottom: 0;
	padding: 2rem 3rem;
	a {
		background: $complementary-color;
		color: rgba($main-color, 1);
		text-transform: uppercase;
		text-decoration: none;
		margin-left: 0.5em; 
		padding: 0.8em 1em;
		transition: all 0.3s ease; 
		&:hover,
		&.active {
			background: darken($complementary-color, 15);
		}
	}
}